@{
    ViewData["Title"] = "Dicas";
}
@model List<Post>
@using Microsoft.AspNetCore.Http

@if (Context.Session.GetInt32("idUsuario") != null)
{
    <a href="/Home/Posting" class="btn btn-primary">Nova Dica</a>
}

<div class="blog-wrapper">

    @if (Model.Count > 0)
    {
        foreach (Post post in Model)
        {
            <div class="blog-card" id="@post.postId">
                <div class="blog-card-banner">
                    <img class="banner-img" src="/images/@post.imagePath" alt="">
                </div>
                <div class="blog-card-body">
                    <p class="text-right">
                        @foreach (var s in post.hashtags.Split(' '))
                        {
                            <span class="blog-hashtag">@s</span>
                        }
                    </p>
                    <h2 class="blog-title">@post.titulo</h2>
                    <p class="blog-description">@post.descricao</p>
                    <p class="blog-date">Postado em @post.postDate.ToShortDateString()</p>
                </div>
            </div>
        }
    }

    @* <div class="blog-card">
        <div class="blog-card-banner">
        <img class="banner-img" src="/images/blog1.jpg" alt="">
        </div>
        <div class="blog-card-body">
        <p class="blog-hashtag">#algumacoisa #outracoisa</p>
        <h2 class="blog-title">Título do Artigo</h2>
        <p class="blog-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel sint libero labore
        adipisci recusandae quod optio et magnam mollitia iusto alias ut dolorem nam commodi asperiores
        obcaecati, ipsa doloribus qui! Assumenda exercitationem ad facere ducimus, illo aperiam sed obcaecati
        reiciendis?</p>
        </div>
        </div>

        <div class="blog-card">
        <div class="blog-card-banner">
        <img class="banner-img" src="~/images/blog1.jpg" alt="">
        </div>
        <div class="blog-card-body">
        <p class="blog-hashtag">#algumacoisa #outracoisa</p>
        <h2 class="blog-title">Título do Artigo</h2>
        <p class="blog-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel sint libero labore
        adipisci recusandae quod optio et magnam mollitia iusto alias ut dolorem nam commodi asperiores
        obcaecati,
        ipsa doloribus qui! Assumenda exercitationem ad facere ducimus, illo aperiam sed obcaecati reiciendis?
        </p>
        </div>
        </div> *@
</div>